header {
    @include border;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        width: 100px;
        border-radius: 15px;
    }
    &__menu {
        display: flex;
    }
    a {
        list-style: none;
        text-decoration: none;
        color: black;
        margin: 15px;
    }
}
.bandeau {
    width: 100%;
    margin-top: 15px;
    background: url('../../images/banniere-banane.jpg');
    border-radius: 15px;
   h1 {
       background-color: rgba(255, 252, 86, 0.274);
       margin: 5px;
       text-align: center;
   }
   &__title--btn {
       display: flex;
       justify-content: space-around;
       padding-bottom: 15px;
   }
}