.btn {
    @include border ($radius : 25px, $color : $color-hover);
    transform: scale(1);
    margin: 15px;
    &:hover {
        @include border ($background : $color-hover, $radius : 25px, $color : $color-hover);
        margin: 15px;
        transform: scale(1.15);
        transition: 0.8s transform;
    }
}
#idee {
    @include border ($background: rgb(255, 254, 189));
    width: 250px;
    transform: scale(1);
    transition: transform 1.2s;
    margin-left: 80px;
    margin-bottom: 10px;
    &:focus {
        @include border ($background: $color-primary);
        transform: scale(1.5); 
        margin-left: 80px;
        margin-bottom: 10px;
    }
}
#submit {
    @include border;
    margin-left: 80px;
}
#email {
    @include border ($background: rgb(255, 254, 189));
    width: 250px;
    margin-left: 80px;
    margin-bottom: 10px;
    transform: scale(1);
    transition: transform 1.2s;
    &:focus {
        @include border ($background: $color-primary);
        transform: scale(1.5); 
        margin-left: 80px;
        margin-bottom: 10px;
    }
    &:invalid {
        color: rgb(255, 0, 0);
    }
    &:not(:focus):invalid {
        @include border ($background: rgba(78, 8, 8, 0.589));
        margin-left: 80px;
        margin-bottom: 10px;
    }
}
.btn-lieu {
    &:hover + .article__banane--ball{
        transform: scale(5);
        span {
            transform: translateX(10px) scale(0.5) rotate(720deg);
            visibility: visible;
        }
    }
    &:active + .article__banane--ball {
        transform: scale(0.5);
        background-color: $color-primary;
    }
}
.btn-membres {
    @include border ($radius : 25px, $color : $color-hover);
    transform: scale(1);
    margin: 15px;
    transition: background-color 2s 0.5s, transform 1s;
    transition-timing-function: cubic-bezier(1,0,.09,1.48);
    &:hover {
        @include border ($background : $color-hover, $radius : 25px, $color : $color-hover);
        transform: scale(1.3);
    }
    &:hover + .ball {
        transform: scale(1.4);
        background-color: $color-primary;
        right: 25px;
    }
    &:active + .ball {
        transform: scale(1.8);
        background-color: $border-color;
        right: 50px;
        top: 15px;
    }
    &:hover + .ball--minion {
        background-color: $color-primary-end;
    }
}
.btn_header {
    &:hover + .carre {
        transform: perspective(25px) rotateX(45deg) scale(2, 0.5);
    }
    &:hover + .carre2 {
        transform: scaleX(4) rotate(2turn) translateX(25px);
    }
    &:active +.carre {
        transform: translate(100px, 100px);
    }
}
.btn-charge {
    &:hover + .plan__charge {
        & > .plan__charge--barre {
        transform: scaleX(1);
        }
        & > .plan__charge--p {
            visibility: visible;
            transform: rotate(5turn);
        }
    }
}
.btn-footer {
    @include border;
    position: relative;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
        background-color: darken($color-primary, 50);
        transition: 2s;
        border-radius: 15px;
    }
}
.btn-charge2 {
    @include border ($radius : 25px, $color : $color-hover);
    &:hover + .plan__charge2 {
        & > .plan__charge2--barre {
            transform: scaleX(1);
            animation: progress-bar 4s;
        }
    }
}

/*Code button 3d*/
.button3d {
    margin:30px auto;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    
  .btn3d {
      color: white;
      font-size: 3.5rem;
      cursor: pointer;
      position: relative;
      width: $btn-width;
      height: $btn-height;
      perspective: $persp;
      &:active {
          & > .btn__flip {
              transform: rotateX(-90deg);
          }
      }
      .btn__flip {
          @include facet; 
          transform-style: preserve-3d;
          transform-origin: center bottom ($btn-height/2);
          transition: transform 500ms cubic-bezier(.7,.01,.23,.99);
          transform: rotateX(0deg);
          .btn__flip--off {
              transform: rotateX(0deg) translateZ($btn-height/2);
              @include facet;
              background: $cd-off;
          }
          .btn__flip--on {
              transform: rotateX(90deg) translateZ($btn-height/2);
              @include facet;
              background: $cd-on;
          }
      }
  }
  }