.section {
    @include border ;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section2 {
    flex-direction: column;
}
.membres {
    display: flex;
}
.membres__bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include border;
}
.form {
    text-align: left;
}
.article__banane {
    display: flex;
    justify-content: space-between;
    margin: 25px;
    &--ball {
        width: 50px;
        height: 50px;
        border: 1px solid $color-secondary;
        background-color: $color-secondary;
        border-radius: 50px;
        transition: transform 4s;
    }
}
.ball {
    width: 30px;
    height: 30px;
    border: 1px solid $color-secondary;
    background-color: $color-secondary;
    border-radius: 30px;
    transition: transform 2s;
    position: relative;
}