@mixin border ($color: $border-color, $size : $border-size, $radius : $border-radius, $background : $color-primary) {
    border: $size solid $color;
    border-radius: $radius;
    margin: 5px 0px 5px 0px;
    padding: 10px;
    background-color: $background;
}
/*Mixin button 3d*/
@mixin facet {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
